<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= WebInfo.PRODUCT_NAME %>后台管理</title>
    <meta name="description" content="<%= WebInfo.PRODUCT_INFO %>">
    <meta name="keywords" content="<%= WebInfo.PRODUCT_KEYWORD %>">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="data-spm" content="a215s" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="fullscreen=yes,preventMove=no" name="ML-Config" />
    <link rel="stylesheet" href="/static/css/admin/m_css.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>

    